.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.suo
*.cache
*.bak
[Tt]humbs.db
*.log
*.log.*
/bin/
/obj/
Nightmare_TemporaryKey.pfx
Nightmare.rsp
.DS_Store
desktop.ini
.vscode/
*.suo
*.user
*.sln
*.swp
*._*
.DS_Store?
Thumbs.db
